body{
    background-color: black;
}

.gif {
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
}

.gif img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

.card {
    margin: auto;
    border-radius: 10px;
    background-color: #b078c3;
    
}

.card-body {
    margin-left: 10px;
}

